@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/*font-family: 'Space Mono', monospace;*/
.attribution { margin-top: 80px; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* ------------------------------------------------------------------------------------------------- */
:root {
    --strong: hsl(172, 67%, 45%);
    --very-dark: hsl(183, 100%, 15%);
    --dark-grayish: hsl(186, 14%, 43%);
    --light-grayish: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--very-dark);
    margin-top: 16px;
    margin-bottom: 16px;
}

h2,h3 {
    margin-top: 18px;
}

button {
    color: var(--white);
    background-color: var(--very-dark);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    width: 94px;
    margin-top: 32px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    cursor: pointer;
    color: var(--very-dark);
    background-color: var(--white);
    border: solid 1px var(--very-dark);
}

body {
    background-color: var(--light-grayish);
    font-family: 'Space Mono', monospace;
}

.center-text {
    text-align: center;
}

.light {
    font-size: 10px;
    color: var(--dark-grayish)
}

.absolute {
    position: absolute;
    top: 5px;
    left: 225px;
}

.relative {
    position: relative;
}

form input {
    font-size: 20px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    background-color: var(--white);
    padding: 42px;
    padding-right: 350px;
    border-radius: 20px;
}

.output-box {
    border-radius: 20px;
    margin-left: -280px;
    width: 250px;
    padding: 32px;
    right: 0;
    background-color: var(--very-dark);
    color: var(--light-grayish);
}

.tips-form {
    margin-top: 16px;
    margin-bottom: 16px;
}

#custom-tip {
    max-width: 95px;
    padding: 5px;
}

.reset {
    background-color: var(--light-grayish);
    color: var(--very-dark);
    width: 100%;
    margin-top: 60px;
}

.error {
    background-color: rgb(228, 24, 24);
    color: var(--white);
    max-width: 30ch;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
    body {
        margin-left: 500px;
    }
}